<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelecomWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TelecomWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin-board.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.css" />

</head>
<body>
    <header>
	@if (!(ViewData["hidenav"] is true)){
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TelecomWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GenericCustomer" asp-action="redirectToLogin">Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GenericCustomer" asp-action="Privacy">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        }
    </header>
        <div class="container">
            <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


   <script src="~/lib/jquery/dist/jquery.js"></script>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="~/lib/toastr/toastr.js"></script>
    @if (TempData["SuccessMessage"] != null || TempData["ErrorMessage"] != null)
    {   
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "5000",
        };

 
   
        $(document).ready(function () {
            @if (TempData["SuccessMessage"] != null)
            {
                <text>toastr.success('@TempData["SuccessMessage"]');</text>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <text>toastr.error('@TempData["ErrorMessage"]');</text>
            }
        });
    </script>
}


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
