@page
@model TelecomWebApp.Views.Admin.DashboardModel
@{
    if (ViewData != null)
    {
        ViewData["Title"] = "Admin Dashboard";
    }
}

<h1>Welcome, Admin!</h1>
<div class="container">
<div class="dashboard">
    <div class="section">
        <h2>Customer Management</h2>
        <ul>
            <li><a href="/Admin/CustomerProfilesWithActiveAccounts">Customer Profiles</a></li>
            <li><a href="/Admin/PhysicalStoreVoucherDetails">Physical Stores & Vouchers</a></li>
            <li><a href="/Admin/ResolvedTickets">Resolved Tickets</a></li>
            <li><a href="/Admin/CustomerAccountWithPlanDetails">Customer Accounts & Subscribed Plans</a></li>
            <li><a href="/Admin/CustomerAccountsByPlanDate">Plan Subscription by Date</a></li>
            <li><a href="/Admin/AccountUsagePlan">Usage Details</a></li>
            <li><a href="/Admin/RemoveBenefits">Remove Benefits</a></li>
            <li><a asp-controller="Admin" asp-action="GetSMSOffers"> SMS Offers</a></li>
        </ul>
    </div>

    <div class="section">
        <h2>Transaction & Wallet Management</h2>
        <ul>
            <li><a href="/Admin/CustomerWallet">Wallet Details</a></li>
            <li><a href="/Admin/E_shopVouchers">E-Shops & Vouchers</a></li>
            <li><a href="/Admin/AccountPayments">Payments & Transactions</a></li>
            <li><a href="/Admin/Num_of_cashbacks">Cashback Transactions</a></li>
            <li><a href="/Admin/AccountPaymentPoints">Accepted Payment Transactions</a></li>
            <li><a href="/Admin/CashbackFunction">Cashback by Plan</a></li>
            <li><a href="/Admin/TransactionAverage">Transaction Average</a></li>
            <li><a href="/Admin/IsWalletLinked">Mobile Wallet Linking</a></li>
            <li><a href="/Admin/UpdateAccountPoints">Update Earned Points</a></li>

        </ul>
    </div>
</div>
</div>

