@{
    ViewData["Title"] = "Benefits Removal Result";
}

<h1>Benefits Removal Result</h1>
<link rel="stylesheet" href="~/css/AdminFirstHalf.css" />


@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<a asp-action="RemoveBenefits" class="btn btn-primary">Remove More Benefits</a>
