@{
    ViewData["Title"] = "Transaction Average";
}

<h2>Transaction Average</h2>

<form method="post" action="/Admin/TransactionAverage">
    <label for="walletId">Wallet ID:</label>
    <input type="number" id="walletId" name="walletId" required />

    <label for="startDate">Start Date:</label>
    <input type="date" id="startDate" name="startDate" required />

    <label for="endDate">End Date:</label>
    <input type="date" id="endDate" name="endDate" required />

    <button type="submit">Submit</button>
</form>

@if (ViewBag.TransactionAverage != null)
{
        <h3>Average Transaction Amount: $@ViewBag.TransactionAverage</h3>
}
