<head>
    <link rel="stylesheet" href="~/css/genericCustomer.css" asp-append-version="true" />
</head>
<body>
 <!-- <nav class="navbar">
      <div class="navbar-title"><a href='#' style="text-decoration: none; color: inherit;">GUC TELCO</a></div>
      <div class="button container">
          <button class="navbar-button">Admin</button>
          <button class="navbar-button">customer</button>
      </div>
  </nav>-->

<div class="card-container">
    <div class="card">
        <div class="card-image">
            <img src="image1.jpg" alt="Image 1">
        </div>
        <div class="card-content">
            <h2>Offered Service Plans</h2>
            <p>View details of all offered Service Plans.</p>
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="image2.jpg" alt="Image 2">
        </div>
        <div class="card-content">
            <h2>Active benefits</h2>
            <p>View details for all active Benefits.</p>
                <a asp-controller="GenericCustomer" asp-action="AllBenefitsView">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="image3.jpg" alt="Image 3">
        </div>
        <div class="card-content">
            <h2>Shops</h2>
            <p>Want to know more about our shops?</p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>

<div class="image-overlay">
    <img src="background-image.jpg" alt="Background Image">
    <div class="overlay-content">
        <h2>Already a customer?</h2>
        <p>Check profile details.</p>
            <a class="button" asp-controller="GenericCustomer" asp-action="redirectToLogin">Login</a>
    </div>
</div>
</body>