<head>
    <link rel="stylesheet" href="~/css/genericCustomer.css" asp-append-version="true" />
</head>
<body>
 <!-- <nav class="navbar">
      <div class="navbar-title"><a href='#' style="text-decoration: none; color: inherit;">GUC TELCO</a></div>
      <div class="button container">
          <button class="navbar-button">Admin</button>
          <button class="navbar-button">customer</button>
      </div>
  </nav>-->

<div class="card-container">
    <div class="card">
        <div class="card-image">
                <img src="https://www.shutterstock.com/image-photo/two-happy-busy-female-employees-260nw-2429463807.jpg"  alt="Image 1">
        </div>
        <div class="card-content">
            <h2>Offered Service Plans</h2>
            <p>View details of all offered Service Plans.</p>
            <a asp-controller="GenericCustomer" asp-action="ViewAllPlans">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
                <img src="https://media.istockphoto.com/id/1395533815/photo/close-up-man-hand-arranging-wood-block-with-healthcare-medical-icon-on-hospital-background.jpg?s=612x612&w=0&k=20&c=g_dd2dO5MF74VQFAPtENCUO09qrr4GDwJnz794n6BC4=" alt="Image 2">
        </div>
        <div class="card-content">
            <h2>Active benefits</h2>
            <p>View details for all active Benefits.</p>
                <a asp-controller="GenericCustomer" asp-action="AllBenefitsView">Learn More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
        <img src="https://media.istockphoto.com/id/135877652/photo/new-shopping-center.jpg?s=612x612&w=0&k=20&c=rmPt1VBDUhPI_nqvtOL7xgKUtk1n-HjLZi--njdgBPc%3D" alt="Image 3">
        </div>
        <div class="card-content">
            <h2>Shops</h2>
            <p>Want to know more about our shops?</p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>

<div class="image-overlay">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjgC7TMV-JCT6iAeHtekzZ4fGlbIjSf05HUg&s" alt="Background Image">
    <div class="overlay-content">
        <h2>Already a customer?</h2>
        <p>Check profile details.</p>
            <a class="button" asp-controller="GenericCustomer" asp-action="redirectToLogin">Login</a>
    </div>
</div>
</body>