<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <form asp-controller="GenericCustomer" asp-action="Login" method="POST">
                <div class="form-group">
                    <label for="mobileNo">Mobile Number</label>
                    <input type="tel" id="mobileNo" name="mobileNo" placeholder="Enter your mobile number" required>
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" id="pass" name="pass" placeholder="Enter your password" required>
                </div>
                <button type="submit" class="login-button">Login</button>
            </form>
            <p class="signup-text">Don't have an account? <a href="#">Sign up</a></p>
        </div>
    </div>
</body>
