@model decimal
<head>
        <link rel="stylesheet" href="~/css/CashbackPaymentBenefit.css" asp-append-version="true" />
</head>
<body>
<form asp-controller ="account" asp-action="CashbackPaymentBenefit"method="POST">
<div class="input-area">
  <h2>Enter the paymentID and Benefit ID to check the cashback for</h2>
  <input type="number" name = "paymentID" placeholder="payment ID e.g 1">
  <input type="number" name = "benefitID" placeholder="benefit ID">
  
  <button> Check Cashback </button>
</div>
</form>
<div class="output-fields">
    <div class = "Amount">
      <h3>CashBack Amount: <Strong>@Model EGP</strong></h3>
    </div>
</div>
</body>