@model List<TelecomWebApp.Models.Consumption>

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/PlanUsage.css" asp-append-version="true" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumption is:</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>SMS</th>
                <th>Minutes</th>
                <th>Internet</th>
            </tr>
            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.SMS_sent</td>
                    <td>@u.minutes_used</td>
                    <td>@u.data_consumption</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
