@model ServiceInfo
@{
    ViewData["Title"] = "loggedInCustomer";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/loggedInCustomer.css" asp-append-version="true" />
</head>
<body>
    <div class="services-section">
        <h2>Stay In Control</h2>
        <p>Manage your line, your payment, balance, and all the services you need</p>
    </div>
	
    <div class="service-list">
	<div class="service-bar">
            <div class="service-content">
                <h3>Unresolved tickets</h3>
                <p>You have <strong>@Model.UnresolvedTickets  </strong> open unresolved tickets.</p>
            </div>
        </div>
        <div class="service-bar">
            <div class="service-content">
                <h3>Highest Value voucher</h3>
                <p>your most valuable voucher ID:<strong>@Model.HighestValueVoucher </strong>.</p>
            </div>
        </div>
        <div class="service-bar">
            <div class="service-content">
                <h3>Remaining Money</h3>
                <p>
                    Check how much is left to pay for a certain plan
                </p>
            </div>
            <form asp-controller="Account" asp-action="CheckDueAmountsView" method="POST">
            <button class="check-status-btn" >Check status</button>
            </form>
        </div>
        <div class="service-bar">
            <div class="service-content">
                <h3>Extra money</h3>
                <p>
                    How much extra money you paid for a certain plan
                </p>
            </div>
            <form asp-controller="Account" asp-action="CheckDueAmountsView" method="POST">
            <button class="check-status-btn">Check status</button>
            </form>
        </div>
        
        <div class="service-bar">
            <div class="service-content">
                <h3>Redeem Voucher</h3>
                <p>Got a voucher to redeem? Get it here</p>
            </div>
            <button class="check-status-btn">Redeem</button>
        </div>
        <div class="service-bar">
            <div class="service-content">
                <h3>Recharge balance</h3>
                <p>Is your wallet a little empty? Recharge right away</p>
            </div>
            <button class="check-status-btn">Recharge</button>
        </div>
        <div class="service-bar">
            <div class="service-content">
                <h3>Renew Subscription</h3>
                <p>Renew subscription for a certain plan</p>
            </div>
            <form asp-controller="Account" asp-action="RenewSubscriptionView" method="POST">
            <button class="check-status-btn" >Renew</button>
            </form>
        </div>

        <div class="services-grid">
            <div class="service-card">
                <h3>View Your Month's Usage</h3>
            </div>
            <div class="service-card">
                <h3>Check out other plans</h3>
            </div>
            <div class="service-card">
                <h3>
                    <a asp-controller="Account" asp-action="ViewLast5MonthsServicePlans">Last 5 months service history</a>
                </h3>

                
            </div>
            <div class="service-card">
                <h3>Check plan consumptions</h3>
            </div>
            <div class="service-card">
                <h3><a asp-controller="Account" asp-action="CashbackPaymentBenefitView">Cashback Amounts</a></h3>
            </div>
            <div class="service-card">
                <h3>Top successful payments</h3>
            </div>
        </div>
    </div>
</body>
</html>
